@font-face {
    font-family: 'gamesitalic';
    src: url('../webfonts/font/games-italic-webfont.woff2') format('woff2'),
         url('../webfonts/font/games-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'arcaderegular';
    src: url('../webfonts/font/arcade-webfont.woff2') format('woff2'),
         url('../webfonts/font/arcade-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'all_the_way_to_the_sunregular';
    src: url('../webfonts/font/allthewaytothesun-o2o0-webfont.woff2') format('woff2'),
         url('../webfonts/font/allthewaytothesun-o2o0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*  Header  */


.navbar {
    background: linear-gradient(to bottom right,   #977a5a, #bfa06a, #deb975, #f8d182, #f5d389);
    max-width: 100%;
    margin-right: auto; 
    margin-left: auto; 
    margin: 0 ;
    padding: 0 ;
}

.navbar-brand {
font-style: bold;
color: black;
text-align: center;
}

.nav-link{
    color: black; 
    font-size: 0.80em;
    text-align:center;
    border-left: 1px dotted grey;
    transition: .5s;
    font-family: 'gamesitalic';
}

.nav-link:hover{
    background-color: #ddb15b;
    color:black;
    font-weight: bold;
}

.img1 {
width:60px; 
height:60px;
}


.logo {
text-align:center;
margin: 0 auto;
}

nav .container{
    max-width:960px;
    width: auto; 
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
   
}

/*  Contenu  */


.container h4 {
    font-family: 'arcaderegular';
    }
    
    h1 {
    font-family: 'arcaderegular';
    }
    
    .formulaire {

    display: flex;
    justify-content: center;
    width: 25%;
    height: 400px;
    margin: auto;
    font-size: 0.85em;
    background-color: white;
    }

#carouselExampleIndicators {
margin: 5% auto;
}

.card-header 
{
    text-align: center;
    font-size: 1.5em;
    background-color:#343a40;
    font-family:'gamesitalic';
}


/*  Footer */

footer {
    background: #343a40;
    padding: 15px;
    color:#abaBaB;    
}

.container-wrap .row {

display: flex;
justify-content: space-between;
padding: 20px auto;

}

.footer-widget{
  
margin : 0 10px; 
text-align:justify;
}
    
.widget-title {
color:#fff;
margin-bottom: 30px; 
text-transform: uppercase; 
font-size: 20px;
}

.cards i 
{
display:inline; 
font-size: 30px;
margin-right:12px; 
}

.about-weight p span {
 margin-right:10px; 
}

.Information.widget {
margin-left: 50px;
}

.footer-widget ul {
margin-left:20px; 
}

.footer-widget ul li {
padding-bottom: 14px;  
}

.footer-widget ul li a {
    color: #aba8a8; 
    text-decoration: none;  
}

.footer-widget ul li a:hover {
    color: #d2d2d2; 
    margin-left:10px; 
    transition: all .5s ease;   
}

.contact-number, .contact-email  {
    padding-bottom:20px; 
    border-bottom : 1px solid #9a98988c;  
    line-height: 20px;
}

.contact-number, .contact-email 
{
margin:10px 0;
}

.contact-number i , .contact-email i, .contact-address i
{
margin-right: 10px; 
}

.social-widget a 
{
display: inline-block; 
font-size: 20px; 
color:#aba8a8; 
margin-right:10px;
}

.social-widget a:hover
{  
    color:#d2d2d2; 
    transition: all .5 ease; 
}

.copyright 
{
    text-align: center;
    margin-right:20px;
}

.copyright p {
    text-align:center;
    color:#aba8a8; 
}
    

/*  Panier */

.form-inline {

    border-left: 1px dotted grey;
}

.form-inline .fa {
color:black;
padding-top: 20px;
margin-left:auto;
margin-right:auto;
}

.form-inline p {
    padding-top:1em; 
    margin:auto;
    color:black;
    font-family: 'gamesitalic';
    font-size: 0.95em;
}
/*Les titres des jeux*/

.card-title{
    font-family:'gamesitalic';
    color:black;
}
.copy
{
    text-align: center;
}
.col-sm
{
    width:70%;
    margin:auto;
}
.col-lg-3
{
    border: solid black 1px;
    padding-right:0;
    padding-left:0;
    box-shadow:10px 10px;
    margin-bottom:15px;
    margin-right: 20px;
}
.informations
{
    list-style-type: none;
}
.row
{
    justify-content: center;
}
