{% extends 'base.html.twig' %}

{% block title %}Mega Drive{% endblock %}

{% block body %}
<div class="container">


<br>
    <div class="row">
        <!-- Image -->
                    <a href="" data-toggle="modal" data-target="#productModal">
                        <img class="img-fluid" src="{{ asset( 'images/' ~ jeu.photo  ) }}" />
                    </a>

        <div class="description-photo">
            <div class="card border-light mb-3">
                <div class="card-header bg-dark text-white text-uppercase"><i class="fa fa-align-justify"></i> Description
                </div>
                <div class="card-body" style="border:1px solid black;">
                    <p class="card-text">
                    {{ jeu.description }}
                    </p>
                </div>
            </div>
                   <div class="col-12 col-lg-6 add_to_cart_block">
            <div class="card bg-light mb-3">
                <div class="card-body bg-white border border-ligh">
                    <p class="price" style="color: black;">{{ jeu.prix }} &euro;</p>
                    <form method="get" action="cart.html">
                        <div class="form-group">
                            <label>Quantité :</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="quantity-left-minus btn bg-dark text-white btn-number"  data-type="minus" data-field="">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control"  id="quantity" name="quantity" min="1" max="100" value="1">
                                <div class="input-group-append">
                                    <button type="button" class="quantity-right-plus btn bg-dark text-white btn-number" data-type="plus" data-field="">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% if is_granted('ROLE_USER') %}
                            <a href="cart.html" class=" btn btn-lg btn-block text-uppercase" style="color: black;" >
                                <i class="fa fa-shopping-cart" style="color: black;"></i>  Ajouter au panier
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_USER') == false %}
                            <i class="fa fa-shopping-cart" style="color: black;"></i> Veuillez vous connectez pour ajouter au panier
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>




    <div class="row">

    </div>
</div>

{% endblock %}