{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container">
   <!-- A remplir (avec <p> ) -->


    <p>Les présentes conditions de vente sont conclues d'une part par l'entreprise RetroGaming dont le siège social est 105 Avenue de la République, 59110 La Madeleine,
        enregistré sous le numéro de SIRET 000 000 000 00000 ci-après dénomée "RetroGaming" et d'autre part, par toute personne physique ou morale utilisant ou souhaitant procéder
        à un achat via le site Internet de "RetroGaming" dénommée ci après "l'acheteur". </br>

        <ul>
            <li>Tarifs</li>
            <li>Produits</li>
            <li>Commandes</li>
            <li>Paiement</li>
            <li>Mode de livraison</li>
            <li>Droit de rétractation</li>
            <li>Protections de données personnelles</li>
            <li>Propriété intellectuelle</li> 
        </ul>

   </p>
    
   <p><h4><strong>Paiement securise</strong></h4>

    RetroGaming vous permets de régler vos achats par ces différents mode de paiement : </br>
        
    Paiement par carte bancaire </br>

    Pour payer en carte bancaire, nous mettons à votre disposition un module de paiement qui permet de régler vos achats en toute sécutité </br>

    Pour cela, lorsque vous terminez votre commande un module de paiement apparaît. </br>
    Vous pouvez alors sélectionner votre type de carte bancaire parmi : </br>
    
<ul>
    <li>Visa</li>
    <li>Carte bleue</li>
    <li>Masterd card</li>
    <li>American Express</li>
</ul>
    Si vous choisissez ce mode de paiement, sachez que RetroGaming utilise un module de paiement en ligne sécurisé, et que tous les renseignements que vous fournirez resteront confidentiels.</br>
    Ainsi vous êtes assuré d'être protégé de façon efficace contre la fraude. </p>

    <p>

    <h4><strong>Paiement par Paypal</strong></h4>

    Si vous êtes titulaire d'un compte Paypal, vous pouvez régler vos achats en toute sécutité en choisissant ce mode paiement. </br>
    Plateforme 100% sécurisé, elle ne permet pas aux marchans d'accéeder aux données bancaires des utilisateurs. 

   </p>

   <p> <h4><strong>Livraison</strong></h4>
    Spécialisé dans la vente en ligne des Jeux vidéos, RetroGaming apporte un soin particulier au traitement, à la livraison et au transport des articles vendus.</br>

    Les articles sont livrés à l'adresse de livraison indiquée lors de la commande. Les frais de port sont forfaitaires et dépendent du pays de livraison ainsi que du mode d'expédition choisi. 
   
    <p>
    
    <h4> Modes d'expedition proposes</h4> 

    RetroGaming propose les modes d'envoi suivants : </br>

    <h6><strong>Lettre suivie</strong></h6>

    Ce service est assuré par La Poste en France métropolitaine et disponible suivant la nature de l’envoi. les Lettres Suivie sont acheminées en service prioritaire. 
    Vous pouvez suivre  la lettre suivie en saisissant son numéro de suivi sur le site de la poste. 

    <h6><strong>Colissimo suivi</strong></h6>

    Ce service est assuré par La Poste en France métropolitaine. La Poste annonce un délai de livraison de 2 à 3 jours ouvrés. 
    Vous pouvez suivre votre colis en saisissant son numéro de suivi sur le site de colissimo.

    <h6><strong>Colissimo International</strong></h6>

    Ce service est assuré par La Poste en Europe et dans le monde. Le délai de livraison dépend du pays de livraison et varie de 2 à 5 jours ouvrés indicatifs. 
    Vous pouvez suivre votre colis en saisissant son numéro de suivi sur le site de colissimo. 
   
   </p>
</div>

{% endblock %}