{% extends 'base.html.twig' %}

{% block title %}{{ titre  }}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card border border-ligh">
                <div class="card-header bg-dark text-white"><i class="fa fa-envelope " style="color:white"></i> Contactez-nous
                </div>              
                <div class="card-body" style="text=align:center;">
                {{ form(form) }}
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-white bg-dark text-uppercase"><i class="fa fa-home" style="color:white"></i> Adresse</div>
                    <div class="card-body bg-white border border-ligh">
                        <p>105 Avenue de la République, 59110 La Madeleine</p>
                        <p>59110 LA MADELEINE </p>
                        <p>France</p>
                        <p>Email : contact@retrogaming.com</p>
                        <p>Tel. +33 00 00 00 00 00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}