{% extends 'base.html.twig' %}

{% block title %}{{ titre  }}{% endblock %}

{% block body %}

<div class="container">
   <!-- A remplir (avec <p> ) -->
    <p>
        <h4>Echanges et retour</h4>

        <p>Dans le cas où l'acheteur choisit le mode d'envoi en lettre prioritaire (sans suivi ni assurance), RetroGaming décline toute responsabilité quant à la non réception du produit par l'acheteur.
            Dans le cas ou plusieurs commandes seraient passées dans un délai très court (généralement moins de 24h), les commandes seront groupés dans un même envoi les frais de ports pourront être regroupés.</br>

            Les commandes sont expédiées entre 1 et 3 jours ouvrables après réception de votre règlement. 
            Les délais de livraison sont donnés à titre indicatif et n'entraînent aucune obligation de la part de RetroGaming. 
            L'acheteur est tenu de vérifier l'état de l'emballage de la marchandise à la livraison et de signaler les dommages éventuels au transporteur sur le bon de livraison. 
            Les risques sont à la charge de l’acquéreur à compter du moment où les produits ont quitté les locaux de RetroGaming. 
            En cas de dommage pendant le transport, la protestation motivée doit être formulée auprès du transporteur au moment du déballage et en présence du transporteur. 
            Les délais de livraison ne sont donnés qu’à titre indicatif; si ceux-ci dépassent trente jours à compter de la commande, le contrat de vente pourra être résilié et l’acheteur remboursé en intégralité.
        </p>

        <h4>Droit de retractation</h4>

        <p>Tous nos jeux et consoles sont testés avant envoi. 
            Si jamais un souci intervenait dans votre commande, les retours seront étudiés au cas par cas et les frais de port sont, en principe, à la charge de l'acheteur. 
            De plus, les problèmes et endommagements dus à la poste ne sont pas sous la responsabilité de Retrogameplace. 
            L'acheteur dispose d'un délai de quatorze jours francs à compter de la livraison de leur commande pour exercer son droit de rétractation sans avoir à justifier de motifs ni à payer de pénalités, à l'exception, des frais de retour éventuel. 
            Cependant, les produits retournés sous blister/boite/scellé qui ont été ouvert(e) totalement ou en parti, et les objets d’occasions retournés incomplets, endommagés, usés, salis ou ne correspondant pas à l’état d’origine dans lequel s’est engagé RetroGaming à livrée l’article ne seront ni repris ni remboursés ni échangés.
        </p>

            <h4>Protection des donnees personnelles</h4>

            <p>Conformément à la loi « informatique et libertés » du 6 janvier 1978, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant à RetroGaming via le formulaire de contact.
            </p>

            <h4>Propriete intellectuelle</h4>

            <p>Tous les éléments du site de RetroGaming sont et restent la propriété intellectuelle et exclusive de RetroGaming. Personne n’est autorisé à reproduire, exploiter, rediffuser, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu’ils soient logiciels, visuels ou sonores. 
                Toute utilisation frauduleuse du site RetroGaming constitue une infraction au Code de la Propriété Intellectuelle et pourra être sanctionnée légalement.
            </p>
    </p>
    <br>

</div>

{% endblock %}